html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  grid-gap: 5px;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  /* your properties here */
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */

.bigItem {
  height: 50%;
  width: 50%;
  justify-self: center;
  
  grid-area: 2 / 2 / 4 / 4;

  /*grid-row: 2 / 4;
  grid-column: 2 / 4;*/

  /*grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;*/
}
